.footer{
    width: 1024px;
    font-size: 12px;
  }
  
  .fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 50px;
  }
  
  .fList{
    list-style: none;
    padding: 0;
  }
  
  .fListItem{
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
  }
  .fText{
    text-align: center;
  }

  @media only screen and (min-width: 320px) { 
    .footer{
      width: 100%;
        }
        .fLists{
          /* flex-direction: column; */
          flex-wrap: wrap;
          .fList{
            margin-left: auto;
            margin-right: auto;
          }
        }
  }

  @media only screen and (min-width: 430px) { 
    .footer{
      width: 24rem;
        }

       
  }

  @media only screen and (min-width: 541px) { 
    .footer{
      width: 100%;
      
        }

        .fList{
          margin-left: auto;
          margin-right: auto;
        }
  }

/* Medium devices (tablets, 640px and up) */

@media only screen and (min-width: 640px) { 
 
      .fLists{
        flex-direction: row;
        
      }
}
